#editor {
    position: relative;
    height: 400px;
}

#loader {
    display: inline-block;
    margin-left: 5px;
    visibility: hidden;
}

#btn-group-adapters {
    visibility: hidden;
}

#btn-group-services {
    visibility: hidden;
}

.ace_editor_wrapper {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin: 10px 0;
}

.ace_scroller {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}