body {
    padding-top: 60px;
    padding-bottom: 30px;
}

#editor {
    position: relative;
    height: 400px;
}

#loader {
    display: inline-block;
    margin-left: 5px;
    visibility: hidden;
}

#message-success,#message-error {
    margin-top: 20px;
}

#btn-group-services {
    display: none;
}

.ace_editor_wrapper {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin: 10px 0;
}

.ace_scroller {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}