<p>Script executed by <b>$username</b> on <b>$timestamp</b>.</p>
<h5>Script</h5>
<pre>$script</pre>
<h5>Result</h5>
<pre>${result ?: '[No Result]'}</pre>
<h5>Output</h5>
<pre>${output ?: '[No Output]'}</pre>
<h5>Running Time</h5>
<pre>$runningTime</pre>