<p>Script executed by <b>$username</b> on <b>$timestamp</b>.</p>
<h5>Script</h5>
<pre>$script</pre><%
    if (result) {
        out << "<h5>Result</h5>"
        out << "<pre>${result}</pre>"
    }

    if (output) {
        out << "<h5>Output</h5>"
        out << "<pre>${output}</pre>"
    }
%><h5>Running Time</h5>
<pre>$runningTime</pre>