<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#info" href="#bindings">Bindings</a>
        </h4>
    </div>
    <div id="bindings" class="panel-collapse collapse">
        <div class="panel-body" data-sly-use.bindingsInfo="com.icfolson.aem.groovy.console.components.BindingsInfo">
            <p>The binding variables listed below are available for use in all scripts.</p>
            ${bindingsInfo.description @ context='html'}
        </div>
    </div>
</div>