<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#info" href="#bindings">Bindings</a>
        </h4>
    </div>
    <div id="bindings" class="panel-collapse collapse" data-sly-use.component="com.icfolson.aem.groovy.console.components.BindingsPanel">
        <div class="panel-body">
            <p>The binding variables listed below are available for use in all scripts.</p>
            <ul data-sly-list="${component.bindingVariables}">
                <li>${item} - <a data-sly-unwrap="${!component.bindingVariables[item].link}" href="${component.bindingVariables[item].link}" target="_blank">${component.bindingVariables[item].type.name}</a></li>
            </ul>
        </div>
    </div>
</div>