<sly data-sly-include="header.html"></sly>

<div class="container" data-sly-use.body="com.icfolson.aem.groovy.console.components.Body">
    <sly data-sly-include="toolbar.html"></sly>

    <div class="alert alert-success" id="message-success" role="alert" style="display: none;">
        <span class="message"></span>
    </div>

    <div class="alert alert-danger" id="message-error" role="alert" style="display: none;">
        <span class="message"></span>
    </div>

    <div class="panel-group" id="toolbar-group">
        <sly data-sly-include="scheduler.html" data-sly-test="${body.hasScheduledJobPermission}"></sly>
        <sly data-sly-include="data.html"></sly>
    </div>

    <div id="script-editor" class="ace_editor_wrapper"></div>

    <div id="result" class="alert alert-success" role="alert" style="display: none;">
        <h6>Result <a class="copy-link" href="#" title="Copied" data-placement="top">Copy</a> | <a class="download-link" href="" target="_blank" download="result.txt">Download</a></h6>
        <pre></pre>
    </div>

    <div id="result-table" class="alert alert-success" role="alert" style="display: none;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="output" class="alert alert-success" role="alert" style="display: none;">
        <h6>Output <a class="copy-link" href="#" title="Copied" data-placement="top">Copy</a> | <a class="download-link" target="_blank" download="output.txt">Download</a></h6>
        <pre></pre>
    </div>

    <pre id="stacktrace" class="alert-danger" style="display: none;"></pre>

    <div id="running-time" class="alert alert-info" role="alert" style="display: none;">
        <h6>Running Time</h6>
        <pre></pre>
    </div>

    <sly data-sly-include="active-jobs.html" data-sly-test="${body.hasActiveJobs}"></sly>

    <div class="panel-group" id="info">
        <sly data-sly-include="scheduled-jobs.html" data-sly-test="${body.hasScheduledJobPermission}"></sly>
        <sly data-sly-include="history.html" data-sly-test="${body.auditEnabled}"></sly>
        <sly data-sly-include="bindings.html"></sly>
        <sly data-sly-include="imports.html"></sly>
        <sly data-sly-include="methods.html"></sly>
        <sly data-sly-include="enhancements.html"></sly>
        <sly data-sly-include="builders.html"></sly>
        <sly data-sly-include="about.html"></sly>
    </div>
</div>

<script type="text/javascript" data-sly-test="${body.auditRecordJson}">
    var auditRecord = ${body.auditRecordJson @ context='unsafe'};
</script>