<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#options-group" href="#options">Options</a>
        </h4>
    </div>
    <div id="options" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Editor contents will be added to the script bindings in a variable named <code>data</code>.  JSON data will be converted to a map.  If data is not valid JSON, the <code>data</code> variable will be a <code>String</code>.</p>

            <div id="data-editor" class="ace_editor_wrapper"></div>
        </div>
    </div>
</div>