<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#info" href="#scheduled-jobs">Scheduled Jobs</a>
        </h4>
    </div>
    <div id="scheduled-jobs" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row panel-row">
                <div class="alert alert-success" role="alert" style="display: none;"></div>
                <div class="alert alert-danger" role="alert" style="display: none;"></div>
            </div>
        </div>
        <table class="table table-striped scheduled-jobs">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Script</th>
                <th>Cron Expression</th>
                <th>Next Execution</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>