<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#scheduler-group" href="#scheduler">Scheduler</a>
        </h4>
    </div>
    <div id="scheduler" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Scheduler info.</p>

            <form class="form-horizontal" id="scheduler-form">
                <input type="hidden" name="scheduledJobId"/>

                <div class="form-group">
                    <label for="job-title" class="col-sm-2 control-label">Job Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="jobTitle" id="job-title" placeholder="Job Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="job-description" class="col-sm-2 control-label">Job Description</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="jobDescription" id="job-description" placeholder="Job Description">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="immediate"> Immediate
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cron-expression" class="col-sm-2 control-label">Cron Expression</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="cronExpression" id="cron-expression" placeholder="Cron Expression">
                    </div>
                </div>
                <div class="form-group">
                    <label for="media-type" class="col-sm-2 control-label">Media Type</label>
                    <div class="col-sm-4">
                        <select id="media-type" name="mediaType" class="form-control">
                            <option selected value="text/plain">Plain Text</option>
                            <option value="text/csv">CSV</option>
                            <option value="text/xml">XML</option>
                            <option value="text/html">HTML</option>
                        </select>
                        <p class="help-block">Select the media type to use when downloading script output.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" class="btn btn-primary" id="schedule-job">
                            <span class="glyphicon glyphicon-time"></span>
                            <span id="schedule-job-text">Schedule Job</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>