.syntaxhighlighter {
    margin: 0 !important;
    width: 90% !important;
}

.gwcEmbedded {
    padding: 10px;
}

.gwcEmbedded .gwcHeader {
    margin-bottom: 10px;
}

.gwcEmbedded .gwcTitle {
    font-weight: bold;
    display: block;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.gwcEmbedded .gwcPublished {
}

.gwcEmbedded .gwcAuthor {
}
