body {
    font-family: Arial ;
    margin: 0px;
    overflow: hidden;
}

pre {
    margin: 0;
}

h1 {
    background: #5C9CCC url('../css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png') repeat-x scroll 50% 50%;
    padding: 5px;
    margin: 0px;
    color: white;
}

h1 a {
    text-decoration: none;
    color: white;
}

h2, .indent {
    margin-left: 20px;
}

.ui-button, .ui-button-text
{
    font-size: 0.5em !important;
    height: 20px;
}

#editor { 
    position: relative;
    margin: 0;
    height: 60%;
}

#toolbar {
    /* height: 24px; */
    background-color: #777;
    padding: 5px;
}
            
#tabs {
   height: 300px;
   bottom: 0;
}
#tabs-result, #tabs-output, #tabs-stacktrace {
    height: 275px;
    padding: 10px;
    overflow-y: scroll;
}

.redBorder {
    border: 1px solid red;
}

.taglist {
    list-style-type: none;
}

.taglist li {
    display: inline;
    padding-right: 10px;
}

.border {
    background-color: #FAFAFF;
    border: 1px solid darkgray;
}

.hidden {
    display: none;
}

.smaller {
    font-size: small;
    color: gray;
}

#embedText, #dialog {
    display: none;
}

#about-left {
    float: left;
    width: 55%;
    font-family: Arial, sans-serif;
    font-size: small;
    color: gray;
}

#about-right {
    position: absolute;
    right: 20px;
    width: 45%;
    font-size: small;
    color: gray;
}

#loadingDiv {
    position: fixed;
    background-color: white;
    right: 10px;
    top: 12px;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 2px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 2px 4px 2px 4px;
    font-size: smaller;
}