body {
    font-family: Arial;
    margin: 0px;
    overflow: hidden;
}

pre {
    margin: 0;
}

h1 {
    background: #bbb;
    padding: 5px;
    margin: 0px;
    height: 0.68em;
}

h1 .title {
    color: #777;
    top: -0.15em;
    position: relative;
}

h2, .indent {
    margin-left: 20px;
}

.row { 
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.header.row { 
    height: 62px;
    top: 0;
}

#toolbar {
    background: #CCC url('smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png') 50% 50% repeat-x;
    padding: 5px;
}

#theme-label {
    margin-left: 40px;
    position: relative;
    top: 1px;
    font-size: 0.8em;
    color: #666;
}

#editor { 
    position: absolute;
    margin: 0;
    top: 62px; 
    bottom: 304px;
}

#tabs.row { 
    height: 300px;
    bottom: 0; 
    padding: 2px;
}
            
#tabs-result, #tabs-output, #tabs-stacktrace {
    height: 260px;
    padding: 10px;
    overflow-y: scroll;
}

.border {
    background-color: #FAFAFF;
    border: 1px solid darkgray;
}

.hidden {
    display: none;
}

#about-left {
    float: left;
    width: 55%;
    font-family: Arial, sans-serif;
    font-size: small;
    color: gray;
}

#about-right {
    position: absolute;
    right: 20px;
    width: 45%;
    font-size: small;
    color: gray;
}

#loadingDiv {
    position: fixed;
    background-color: white;
    right: 5px;
    top: 5px;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 2px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 2px 4px 2px 4px;
    font-size: smaller;
}

.ui-button-text-icon-secondary .ui-button-text {
    padding-top: 0.5em;
    padding-right: 2.2em;
}

.ui-button, .ui-button-text
{
    font-size: 0.5em;
    height: 20px;
}

.ui-selectmenu {
    height: 18px;
    margin-top: 1px;
}

.ui-selectmenu-status {
    line-height: 1em;
    font-size: 0.6em;
}

.ui-selectmenu-menu li a, .ui-selectmenu-status {
    padding: .2em;
    font-size: 0.7em;
    line-height: 1em;
}