body {
    font-family: Arial ;
    margin: 0px;
}

h1 {
    background: #5C9CCC url('../css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png') repeat-x scroll 50% 50%;
    padding: 5px;
    margin: 0px;
    color: white;
}

h1 a {
    text-decoration: none;
    color: white;
}

h2, .indent {
    margin-left: 20px;
}

pre {
    margin-left: 40px;
}

#actionsBreadcrumb {
    padding: 4px 0px 4px 0px;
    border: 2px solid #888;
    border-right: 0px;
    margin: 15px 0px 10px 20px;
    display: inline-block;
    font-size: 0.8em;
}

.actionsBreadcrumbHead {
    padding: 4px 10px 5px 5px;
    font-weight: bold;
    color: white;
    background-color: #888;
}

.actionsBreadcrumbChild, .actionsBreadcrumbLastChild {
    padding: 4px;
    padding-right: 8px;
    color: #888;
    border-right: 2px dotted #888;
}

.actionsBreadcrumbLastChild {
    border-right: 2px solid #888;
}

.actionsBreadcrumbChild a, .actionsBreadcrumbLastChild a {
    color: #888;
    text-decoration: none;
}

.actionsBreadcrumbChild a:hover, .actionsBreadcrumbLastChild a:hover {
    text-decoration: underline;
}

.redBorder {
    border: 1px solid red;
}

.taglist {
    list-style-type: none;
}

.taglist li {
    display: inline;
    padding-right: 10px;
}

.border {
    background-color: #FAFAFF;
    border: 1px solid darkgray;
}

.hidden {
    display: none;
}

.smaller {
    font-size: small;
    color: gray;
}

#backtoconsole {
    margin-left: 20px;
    font-family: Arial, sans-serif;
}

#shareThis {
    float: right;
    margin: 10px;
}

#shareThis a {
    text-decoration: none;
}

#embedText, #dialog {
    display: none;
}

#about-left {
    float: left;
    width: 55%;
    font-family: Arial, sans-serif;
    font-size: small;
    color: gray;
}

#about-right {
    position: absolute;
    right: 20px;
    width: 45%;
    font-size: small;
    color: gray;
}

#textarea-container-script {
    margin-bottom: 10px;
}

#textarea-container-data {
    margin-bottom: 10px;
}

#commentsArea #idc-container h3 {
    font-weight: bold;
    font-size: 14pt;
}

#button-bar {
    padding: 5px;
    margin-bottom: 20px;
}

#loadingDiv {
    position: fixed;
    background-color: white;
    right: 10px;
    top: 12px;
}

.CodeMirror-line-numbers {
    color: gray;
    background-color: lightgray;
    padding: 5px;
    margin-right: 5px;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    font-size: 1em;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 2px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 2px 4px 2px 4px;
    font-size: smaller;
}